.popup__submit_type_auth {
    background-color: #fff;
    max-width: 358px;
    min-height: 50px;
    color: #000000;
    border-radius: 2px;
    margin: 216px 0 15px 0;
}
.popup__submit_type_auth:disabled {
    background-color: #FFFFFF;
}